body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

table
{
    table-layout: fixed;
    width: 100%;
    border: 3px solid purple;
    border-collapse: collapse;
    /*margin-left: 156px;*/
    margin-top: 50px;
}

table.padding th,table.padding td
{
    padding-block: 10px
}

th
{
    background-color: black;
    color: white;
}
td
{
    text-align: center;
}

tr{
  border: #ffffff 1px solid;
}

tr.liv:nth-child(2n)
{
    background-color: #e0e0e0;
}

tr.liv:nth-child(2n+1)
{
    background-color: #ffffff;
}

tr.palette.OK {
  background-color: #99ff99;
}

tr.palette.KO {
  background-color: #ff9999;
}
