.topbar{
  z-index: 2;
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.topbar li {
  float: left;
}

.topbar li select {
  background-color: #1abc9c;
  padding: 14px;
  border: none;
  cursor: pointer;
}

.topbar li > * {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
